*.db
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
.vs/

/*/[Oo]bj/
/*/[Rr]elease/
/*/[Dd]ebug/
/*/[Bb]uild/

# 프로젝트 bin 폴더 안 바이너리 제외
/*/bin/*.pdb
/*/bin/*.ipdb
/*/bin/*.exp
/*/bin/*.iobj
/*/bin/*.exe
/*/bin/*.exp
/*/bin/*.dll
/*/bin/*.lib
/*/bin/*.log
/*/bin/*.dll
/*/bin/*.ilk
/*/bin/*/OrbbecBodyTracking.dll
/*/bin/*/orbbec_xs.dll
/*/bin/*/orbbec_hand.toml
/*/bin/*/orbbec_hand.dll
/*/bin/*/openni_sensor.dll
/*/bin/orbbec.ini
/*/bin/OpenNI.ini
/*/bin/astra.toml
.suo
/example-ultralight/bin/cookies.dat
